<div class="container wb l-s-p">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group signup">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control',  placeholder: 'Full Name' %>
  </div>

  <div class="form-group signup", id="e">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group signup">
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class="form-group signup">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm Password' %>
  </div>

    <%= f.submit "Next", class: 'nb-button', id: 'submit-button' %>

<% end %>
</div>
<%= render "devise/shared/links" %>
