<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.label :icon %>
    <%= f.select :icon, icon_options_for_select(@tag.icon), class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Create Transaction', class: 'btn btn-primary' %>
<% end %>