<div class="loginnavbar">
  <div class="backButton">
      <a class="navbar-brand" href="<%= root_path %>">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
  </div>
  <div class="page-name">
    <p>LOG IN</p>
  </div>
    <div class="page-button">
    <p>LOG IN</p>
  </div>
</div>
<div class="container wb l-s-p">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="nf">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',  placeholder: 'Email'%>
  </div>

  <div class="nf">
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control pw', placeholder: 'Password' %>
  </div>
    <%= f.submit "Log in", class: 'btn btn-primary g-button', id: 'submit-button' %>
<% end %>
</div>
<%= render "devise/shared/links" %>
