<!DOCTYPE html>
<html>
  <head>
    <title>PocketCanvas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <%if user_signed_in? %>
    <nav class="navmenu d-flex">
      <div class="navitem al-l">
        <% if request.path != root_path %>
          <a class="navbar-brand" href="<%= root_path %>">
            <i class="fa-solid fa-house"></i>
          </a>
        <% else %>
          <a class="navbar-brand" href="<%= root_path %>">
            <i class="fas fa-bars"></i>
          </a>
        <% end %>
      </div>
      <div class="navitem al-c">
        <%= image_tag 'logopocketcanvas.png', class: 'logoMenu', alt: 'Pocket Canvas Logo' %>
      </div>
      <div class="navitem al-r">
        <% if user_signed_in? %>
            <%= form_tag(destroy_user_session_path, method: :delete) do %>
              <%= button_tag 'Log Out', type: 'submit', class: 'btn btn-danger' %>
            <% end %>
        <% end %>
      </div>
    </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
